{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>myupload page</title>
{% endblock title %}

{% block css %}
{% endblock css %}

{% block body %}


<!-- heading -->
<div class="container my-5 p-2 text-center bg-secondary text-light rounded-3 shadow" >
    <h1 class="display6 "> MyUpload</h1>
</div>

<!-- image div -->
<div class="container my-5">
    <table class="table">
        {% for img in Images %}
        <tr class="shadow">
            <td>
                <img src="{{img.image.url}}" alt="no image" height="200px">
            </td>
            <td><h3>{{img.title}}</h3></td>
            <td><p class="lead">{{img.desc}}</p></td>
            <td><p class="lead">{{img.uploaded_by}}</p></td>
            <td><p class="lead">{{img.uploaded_at}}</p></td>
            <td><p class="lead">{{img.cat}}</p></td>
        </tr>
        {% empty %}
        <h1 class="display-5"> No Uploads</h1>
        {% endfor %}
    </table>
</div>


{% endblock body %}

{% block js %}
{% endblock js %}